@import "./constants/colors";

.header {
  margin: 3vh 0;
  color: #{$blue-700};

  &:hover {
    text-decoration: underline;
    color: #{$blue-500};
  }
}

.article {
  margin: 7vh 0;
  width: calc(100% - 20em);

  .title {
    font-size: 3.5em;
    color: #{$gray-800};
  }

  .date {
    color: #{$gray-500};
  }

  section {
    margin: 3em 0;
    font-size: 1.2em;
  }
}

// image figure
.cap {
  color: #{$gray-600};
}
